# list, tuples, Dictionary

# list

In [1]:
l=[1,2,3,4,'red','blue',['cat','dog'],int,bin,oct]

In [2]:
type(l)

list

# Mutablity

In [3]:
l[2]

3

In [8]:
l[2]=3.14
l

[1,
 2,
 3.14,
 4,
 'red',
 'blue',
 ['cat', 'dog'],
 int,
 <function bin(number, /)>,
 <function oct(number, /)>]

In [7]:
print(l)

[1, 2, 3.14, 4, 'red', 'blue', ['cat', 'dog'], <class 'int'>, <built-in function bin>, <built-in function oct>]

# Subscripting

In [9]:
l[1]

2

In [10]:
l[-1]

In [11]:
l[1:4:2]

[2, 4]

In [12]:
l[1:4]

[2, 3.14, 4]

In [13]:
l[::-1]

[<function oct(number, /)>,
 <function bin(number, /)>,
 int,
 ['cat', 'dog'],
 'blue',
 'red',
 4,
 3.14,
 2,
 1]

# operations in list

In [14]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [15]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
'blue' in l

True

In [20]:
isinstance(l,list)

True

# Adding elemnts to list

In [22]:
l1=['red','green' ,'blue']

In [23]:
l1.append('yellow')
l1

['red', 'green', 'blue', 'yellow']

In [29]:
l1.append('orange')
l1
print(l1.index('green'))

2

In [25]:
l1.insert(1,"golden")
l1

['red', 'golden', 'green', 'blue', 'yellow', 'orange']

In [26]:
l2=["white","grey","black"]
l2

['white', 'grey', 'black']

In [28]:
l1.extend(l2)
l1

['red',
 'golden',
 'green',
 'blue',
 'yellow',
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black']

In [30]:
l2

['white', 'grey', 'black']

In [32]:
l2.insert(4,"violet")
l2

['white', 'grey', 'black', 'violet', 'violet']

In [33]:
l2.insert(5,"brown")
l2

['white', 'grey', 'black', 'violet', 'violet', 'brown']

In [34]:
l2.remove("violet")

In [35]:
l2

['white', 'grey', 'black', 'violet', 'brown']

In [36]:
l2

['white', 'grey', 'black', 'violet', 'brown']

In [37]:
l2.remove("violet")
l2

['white', 'grey', 'black', 'brown']

In [38]:
l2.insert(4,"violet")
l2

['white', 'grey', 'black', 'brown', 'violet']

# modifying elements of list

In [39]:
l

[1,
 2,
 3.14,
 4,
 'red',
 'blue',
 ['cat', 'dog'],
 int,
 <function bin(number, /)>,
 <function oct(number, /)>]

In [40]:
l1

['red',
 'golden',
 'green',
 'blue',
 'yellow',
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

In [41]:
l1[4] ='aqua'
l1

['red',
 'golden',
 'green',
 'blue',
 'aqua',
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

In [42]:
l2

['white', 'grey', 'black', 'brown', 'violet']

In [43]:
l1[4]=l2
l1

['red',
 'golden',
 'green',
 'blue',
 ['white', 'grey', 'black', 'brown', 'violet'],
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

In [45]:
l1[4][1]='golden'
l1

['red',
 'golden',
 'green',
 'blue',
 ['white', 'golden', 'black', 'golden', 'violet'],
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

In [46]:
l1[4][3]='brown'
l1

['red',
 'golden',
 'green',
 'blue',
 ['white', 'golden', 'black', 'brown', 'violet'],
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

In [47]:
l1

['red',
 'golden',
 'green',
 'blue',
 ['white', 'golden', 'black', 'brown', 'violet'],
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

In [48]:
l1[1:4]='pink'
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'black', 'brown', 'violet'],
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

# Remove elements from list

In [49]:
l2

['white', 'golden', 'black', 'brown', 'violet']

In [50]:
l2.pop()

'violet'

In [51]:
l2

['white', 'golden', 'black', 'brown']

In [52]:
l2.pop(-2)

'black'

In [53]:
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'brown'],
 'orange',
 'white',
 'grey',
 'black',
 'white',
 'grey',
 'black',
 'orange']

In [56]:
l1.remove('grey')
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'brown'],
 'orange',
 'white',
 'black',
 'white',
 'black',
 'orange']

In [57]:
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'brown'],
 'orange',
 'white',
 'black',
 'white',
 'black',
 'orange']

In [58]:
l1.append('black')

In [59]:
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'brown'],
 'orange',
 'white',
 'black',
 'white',
 'black',
 'orange',
 'black']

In [62]:
l1.remove("black")

In [63]:
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'brown'],
 'orange',
 'white',
 'white',
 'orange',
 'black']

# Finding Elements in list

In [64]:
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'brown'],
 'orange',
 'white',
 'white',
 'orange',
 'black']

In [65]:
l1.index('white')

7

In [67]:
'white' in l1

True

In [68]:
l1.index("green")

ValueError: 'green' is not in list

# Rearranging elements in a list

Reversing and sorting

In [69]:
reversed(l1)

In [70]:
l1

['red',
 'p',
 'i',
 'n',
 'k',
 ['white', 'golden', 'brown'],
 'orange',
 'white',
 'white',
 'orange',
 'black']

In [71]:
print(reversed(l1))

<list_reverseiterator object at 0x00000178715645B0>

In [72]:
list(reversed(l1))

['black',
 'orange',
 'white',
 'white',
 'orange',
 ['white', 'golden', 'brown'],
 'k',
 'n',
 'i',
 'p',
 'red']

In [74]:
sorted(l1,reverse =True)

TypeError: '<' not supported between instances of 'list' and 'str'

In [75]:
sort(l1)

NameError: name 'sort' is not defined

In [76]:
l1.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [77]:
l

[1,
 2,
 3.14,
 4,
 'red',
 'blue',
 ['cat', 'dog'],
 int,
 <function bin(number, /)>,
 <function oct(number, /)>]

In [79]:
l3=l[1:5]

In [80]:
l3

[2, 3.14, 4, 'red']

In [81]:
l3.pop()

'red'

In [82]:
l3

[2, 3.14, 4]

In [83]:
l3.sort()

In [84]:
l3

[2, 3.14, 4]

In [85]:
sorted(l3,reverse =True)

[4, 3.14, 2]

In [88]:
l3.reverse()
l3

[2, 3.14, 4]

In [89]:
l3

[2, 3.14, 4]

In [90]:
l3.reverse()
l3

[4, 3.14, 2]

# Iteration on a list

In [95]:
for i in l2:
    print(i.swapcase(),end="   ")

WHITE   GOLDEN   BROWN

In [93]:
l2

['white', 'golden', 'brown']

# Tuple

In [96]:
t=('gold', 'silver','ivory')

In [97]:
t[1]

'silver'

In [98]:
t[1]='goldy'

TypeError: 'tuple' object does not support item assignment

In [100]:
t.append('brown')

AttributeError: 'tuple' object has no attribute 'append'

In [101]:
a=list(t)

In [102]:
a.append('brown')

In [103]:
a

['gold', 'silver', 'ivory', 'brown']

In [105]:
t=tuple(a)

In [106]:
t

('gold', 'silver', 'ivory', 'brown')

Packing and unpacking

Unpacking

works on list and tuples

In [107]:
t

('gold', 'silver', 'ivory', 'brown')

In [108]:
t1=('red','blue','green')

In [109]:
r,b,g=t1
print(r,g,b)

red green blue

In [114]:
t

('gold', 'silver', 'ivory', 'brown')

In [115]:
r1,g1,x=t

ValueError: too many values to unpack (expected 3)

In [112]:
r1,g1,*x=t

In [113]:
print(r1,g1,x)

gold silver ['ivory', 'brown']

# Session Assignment:11:35 AM -11:55 AM

Session #1: [45]
-------------------------------------------------------------------------------------------------------------------
basket = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Insert "Grapes" between "Banana" and "Cherry".  

data = [10, 20, [30, 40, 50], 60, 70]  
Task: Change 40 to 45 inside the nested list.  

nums = [3, 6, 9, 12, 15, 18, 21]  
Task: Extract [9, 12, 15] and reverse it.  

numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
Task: Remove all occurrences of 5 from numbers.  

list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
Task: Merge list1 and list2, then sort the combined list.  

colors = ("Red", "Green", "Blue", "Yellow")  
Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.  

names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
Task: Find the index of "Charlie".  

nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
Task: Count how many times 4 appears in nums_tuple.  

values = [10, 20, 30, 40, 50]  
Task: Swap the first and last elements.  

values = []
Task: Generate a list of squares for numbers from 1 to 10.  

my_tuple = (1, 2, 3, 4, 5)  
Task: Reverse my_tuple without converting it to a list.  

data = [23, 45, 67, 12, 89, 34]  
Task: Find the maximum and minimum values in data.  

nums = [10, 20, 30, 40, 50, 60, 70]  
Task: Extract every second element from nums.  

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
Task: Convert nested_list into a single flat list.  

list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
Task: Find common elements between list_a and list_b.  

scores = [78, 55, 92, 30, 88, 62]  
Task: Sort scores in descending order.  

my_tuple = (1, 2, 3)  
Task: Repeat my_tuple three times and store the result.  

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
Task: Remove duplicates while keeping the order.  

words = ["Hello", "World", "Python", "Programming"]  
Task: Insert "Amazing" at index 2.  

pairs = [("a", 1), ("b", 2), ("c", 3)]  
Task: Convert pairs into a dictionary.

basket = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Insert "Grapes" between "Banana" and "Cherry".

In [116]:
basket = ["Apple", "Banana", "Cherry", "Mango"]
basket.insert(2,'grapes')
basket

['Apple', 'Banana', 'grapes', 'Cherry', 'Mango']


data = [10, 20, [30, 40, 50], 60, 70]  
Task: Change 40 to 45 inside the nested list.

In [118]:
data = [10, 20, [30, 40, 50], 60, 70]  
data[2][1]=45
data

[10, 20, [30, 45, 50], 60, 70]

nums = [3, 6, 9, 12, 15, 18, 21]  
Task: Extract [9, 12, 15] and reverse it.

In [129]:
nums = [3, 6, 9, 12, 15, 18, 21]
temp1=nums[2:5]
temp1

[9, 12, 15]

In [130]:
temp1[::-1]

[15, 12, 9]

In [133]:
temp1.reverse()
print(temp1)

[15, 12, 9]

numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
Task: Remove all occurrences of 5 from numbers.

In [136]:
numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
numbers.count(5)

4

In [138]:
for i in range(4):
    numbers.remove(5)
print(numbers)

[3, 8, 10, 12]

list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
Task: Merge list1 and list2, then sort the combined list.

In [139]:
list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
list3=list1+list2
list3

[8, 3, 1, 7, 4, 9, 2, 6]

In [144]:
list3.sort()
print(list3)

[1, 2, 3, 4, 6, 7, 8, 9]

colors = ("Red", "Green", "Blue", "Yellow")  
Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.

In [148]:
colors = ("Red", "Green", "Blue", "Yellow")
list4=list(colors)
list4[1]='Cyan'
colors= tuple(list4)
print(colors)

('Red', 'Cyan', 'Blue', 'Yellow')

names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
Task: Find the index of "Charlie".

In [152]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"] 
print("the index of Charlie is {} ".format(names.index('Charlie')))

the index of Charlie is 2

nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
Task: Count how many times 4 appears in nums_tuple.

In [189]:
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10) 
print("""Element '4' appears {} times""".format(nums_tuple.count(4)))

Element '4' appears 4 times

values = [10, 20, 30, 40, 50]  
Task: Swap the first and last elements.

In [156]:
values = [10, 20, 30, 40, 50]  
a2=values[-1]
values[-1]=values[0]
values[0]=a2
values

[50, 20, 30, 40, 10]

values = []
Task: Generate a list of squares for numbers from 1 to 10.

In [192]:
l5=[]
for i1 in range(1,11):
    l5.append(i1**2)
l5

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

my_tuple = (1, 2, 3, 4, 5)  
Task: Reverse my_tuple without converting it to a list.

In [193]:
my_tuple = (1, 2, 3, 4, 5).reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [158]:
my_tuple = (1, 2, 3, 4, 5)  
reverse_tuple=my_tuple[::-1]
reverse_tuple

(5, 4, 3, 2, 1)

data = [23, 45, 67, 12, 89, 34]  
Task: Find the maximum and minimum values in data.

In [163]:
data = [23, 45, 67, 12, 89, 34] 
data.sort()
print(data)
print("Max of data is {0} ,while min of Data is {1}".format(data[-1],data[0]))

[12, 23, 34, 45, 67, 89]
Max of data is 89 ,while min of Data is 12

nums = [10, 20, 30, 40, 50, 60, 70]  
Task: Extract every second element from nums.

In [168]:
nums = [10, 20, 30, 40, 50, 60, 70]


result = nums[0::2]  

print(result)

[10, 30, 50, 70]

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
Task: Convert nested_list into a single flat list.

In [173]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
x,y,z=nested_list
print(x,y,z,"\n",nested_list)

[1, 2, 3] [4, 5, 6] [7, 8, 9]
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [174]:
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [175]:
list_flat=[]
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in nested_list:
    for j in i:
        list_flat.append(j)
print(list_flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
Task: Find common elements between list_a and list_b.

In [176]:
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
list_c=[]
for i in list_a:
    if i in list_b:
        list_c.append(i)
print(list_c)

[4, 5, 6]

scores = [78, 55, 92, 30, 88, 62]  
Task: Sort scores in descending order.

In [178]:
scores = [78, 55, 92, 30, 88, 62]  
scores.sort()
desc_score=scores[::-1]
desc_score

[92, 88, 78, 62, 55, 30]

my_tuple = (1, 2, 3)  
Task: Repeat my_tuple three times and store the result.

In [183]:
my_tuple = (1, 2, 3)  
list_t=list(my_tuple)
final_list=list_t*3
print(final_list)
my_tuple_l=tuple(final_list)
print(my_tuple_l,"\n",type(my_tuple_l))

[1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3)
 <class 'tuple'>

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
Task: Remove duplicates while keeping the order.

In [185]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]
set1=set(numbers)
number_final=list(set1)
print(number_final,"\n",type(number_final))

[1, 2, 3, 4, 5, 6]
 <class 'list'>

In [ ]:
numbers1 = [1, 2, 2, 3, 4, 4, 5, 6, 6]
number2
for i in number1:
    if

words = ["Hello", "World", "Python", "Programming"]  
Task: Insert "Amazing" at index 2.

In [186]:
words = ["Hello", "World", "Python", "Programming"] 
words.insert(2,"Amazing")
words

['Hello', 'World', 'Amazing', 'Python', 'Programming']

pairs = [("a", 1), ("b", 2), ("c", 3)]  
Task: Convert pairs into a dictionary.

In [188]:
pairs = [("a", 1), ("b", 2), ("c", 3)] 
x1,y1,z1=pairs
x2=list(x1)
y2=list(y1)
z2=list(z1)
d1={x2[0]:x2[1],
    y2[0]:y2[1],
    z2[0]:z2[1]
   }
print(x1,y1,z1)
print(d1)

('a', 1) ('b', 2) ('c', 3)
{'a': 1, 'b': 2, 'c': 3}

# Built in functions for list and tuple

In [194]:
l=[1,2,3,4,5,6]
sum(l)

21

In [195]:
max(l)

6

In [196]:
min(l)

1

In [197]:
any(l)

True

any() check for atleast non zero value

In [198]:
all(l)

True

all()  check if all elemnts are non zero values

In [200]:
l1=[-1,-2,0,1,2]

In [201]:
any(l1)

True

In [202]:
all(l1)

False

In [206]:
desc(enumerate())

NameError: name 'desc' is not defined

In [208]:
l1=[-1,-2,0,1,2]
print(enumerate(l1))

<enumerate object at 0x00000178720CB060>

In [209]:
print(list(enumerate(l1)))

[(0, -1), (1, -2), (2, 0), (3, 1), (4, 2)]

In [210]:
d2=dict(enumerate(l1))
d2

{0: -1, 1: -2, 2: 0, 3: 1, 4: 2}

In [212]:
s='apples'
l=['red','green','blue']

In [231]:
s='apples'

for c in s:
    print(c,"Asc key value of", c,": ",ord(c),'\n')

a Asc key value of a :  97

p Asc key value of p :  112

p Asc key value of p :  112

l Asc key value of l :  108

e Asc key value of e :  101

s Asc key value of s :  115

Loop control statements

# Loops

# Session Excercise 2:30 pm - 3:10 pm

Session #2 [30 - 40]
-------------------------------------------------------------------------------------------------------------------

Q1:
nums = [1, 2, 3, 4, 5]  
Task: Use a for loop to calculate the sum of all elements in nums.  
Q2:
count = 5  
Task: Use a while loop to print numbers from count down to 1.  
Q3:
fruits = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Use a for loop to print each fruit in uppercase.  
Q4:
num = 1  
Task: Use a while loop to print squares of numbers from 1 to 10.  
Q5:
values = [2, 4, 6, 8, 10]  
Task: Use a for loop to create a new list containing cubes of values.  
Q6:
sentence = "Python is fun"  
Task: Use a for loop to count how many times 'o' appears in sentence.  
Q7:
num = 10  
Task: Use a while loop to print even numbers from 10 to 2 in reverse order.  
Q8:
matrix = [[1, 2], [3, 4], [5, 6]]  
Task: Use nested for loops to print all elements in matrix.  
Q9:
num = 7  
Task: Use a while loop to find the factorial of num.  
Q10:
numbers = [3, 9, 12, 18, 21, 25]  
Task: Use a for loop to print only the numbers divisible by 3.

Q1:nums = [1, 2, 3, 4, 5]  
Task: Use a for loop to calculate the sum of all elements in nums.

In [235]:
nums = [1, 2, 3, 4, 5]
sum=0
for i in nums:
    sum+=i
print("Sum of elements is {}".format(sum))

Sum of elements is 15

Q2:
count = 5  
Task: Use a while loop to print numbers from count down to 1.

In [241]:
j=5
while j>0:
    print(j)
    j=j-1

5
4
3
2
1

Q3:
fruits = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Use a for loop to print each fruit in uppercase.

In [244]:
fruits = ["Apple", "Banana", "Cherry", "Mango"]  
fruit=[]
for i in fruits:
    fruit.append(i.upper())
fruit

['APPLE', 'BANANA', 'CHERRY', 'MANGO']

Q4:
num = 1  
Task: Use a while loop to print squares of numbers from 1 to 10.

In [271]:
num = 1  # Start from 1

while num <= 10:  # Loop until num reaches 10
    print(f"Square of {num} is {num ** 2}")  # Print the square of num
    num += 1  # Increment num by 1

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [270]:
num=1
while i<=10:
    
    print(i**2)
    i=i+1

Q5:
values = [2, 4, 6, 8, 10]  
Task: Use a for loop to create a new list containing cubes of values.

In [246]:
values = [2, 4, 6, 8, 10]  
new_list=[]
for i in values:
    new_list.append(i**3)
new_list

[8, 64, 216, 512, 1000]

Q6:
sentence = "Python is fun"  
Task: Use a for loop to count how many times 'o' appears in sentence.

In [251]:
sentence = "Python is fun"
count=0
for i in sentence:
    if i =="o":
        count=count+1
    
count

1

Q7:
num = 10  
Task: Use a while loop to print even numbers from 10 to 2 in reverse order.

In [253]:
num=10
while num >1:
    if num%2==0:
        print(num)
        num=num-2

10
8
6
4
2

Q8:
matrix = [[1, 2], [3, 4], [5, 6]]  
Task: Use nested for loops to print all elements in matrix.

In [261]:
matrix = [[1, 2], [3, 4], [5, 6]]

for row in matrix:  # Loop through each row
    for element in row:  # Loop through each element in the row
        print(element, end=" ")  # Print elements on the same line
    print()  # Move to a new line after each row

1 2
3 4
5 6

Q9
num = 7  
Task: Use a while loop to find the factorial of num.

In [262]:
num=7
factor=1
while num>1:
    factor=factor*num
    num=num-1
print("factorial of num is {} ".format(factor) )

factorial of num is 5040

Q10:
numbers = [3, 9, 12, 18, 21, 25]  
Task: Use a for loop to print only the numbers divisible by 3.

In [266]:
numbers = [3, 9, 12, 18, 21, 25] 

for i in numbers:
    if i%3==0:
        print(i,"\n")

3

9

12

18

21

# Sets

In [272]:
s='mississippi'

In [273]:
list(s)

['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [274]:
set(s)

{'i', 'm', 'p', 's'}

Here order is not preserved , Reason it is unordered bcoz datastructure behind set

# operations on set

In [275]:
s1=set("abcdefg")
s1

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [276]:
s2=set("efghij")
s2

{'e', 'f', 'g', 'h', 'i', 'j'}

In [278]:
s1|s2

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'}

In [277]:
s1^s2

{'a', 'b', 'c', 'd', 'h', 'i', 'j'}

In [279]:
s1.update({'y','z'})
s1

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'y', 'z'}

In [280]:
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'y', 'z'}

In [282]:
s1.intersection(s2)

{'e', 'f', 'g'}

In [284]:
s3={"a","b"}

In [285]:
s1.issuperset(s3)

True

In [287]:
s1.issubset(s3)

False

In [288]:
s1.add({'a','b'})

TypeError: unhashable type: 'set'

In [289]:
s1.add(['a','b'])

TypeError: unhashable type: 'list'

In [291]:
l4=['a','b',['c','d']]
s4=set(l4)

TypeError: unhashable type: 'list'

# Dictionary

In [292]:
rec=["Anil","35","UST Global","Banglore" "1000"]

In [293]:
rec_new=["Anil","10/03/1990","89077543","UST Global","Banglore" "1000"]

In [294]:
d={"name":"Anil","Age":"35","Company":"UST Global","Location":"Banglore","Salary": "100000"}

In [295]:
d

{'name': 'Anil',
 'Age': '35',
 'Company': 'UST Global',
 'Location': 'Banglore',
 'Salary': '100000'}

In [296]:
d['phone']="89077543"

In [297]:
d

{'name': 'Anil',
 'Age': '35',
 'Company': 'UST Global',
 'Location': 'Banglore',
 'Salary': '100000',
 'phone': '89077543'}

In [298]:
d.pop("Age")# removing elemnts in dictioinary

'35'

In [299]:
d

{'name': 'Anil',
 'Company': 'UST Global',
 'Location': 'Banglore',
 'Salary': '100000',
 'phone': '89077543'}

In [300]:
d['age']=35

In [301]:
d

{'name': 'Anil',
 'Company': 'UST Global',
 'Location': 'Banglore',
 'Salary': '100000',
 'phone': '89077543',
 'age': 35}

In [302]:
d.values()

dict_values(['Anil', 'UST Global', 'Banglore', '100000', '89077543', 35])

In [304]:
d.keys()

dict_keys(['name', 'Company', 'Location', 'Salary', 'phone', 'age'])

In [305]:
d.items()

dict_items([('name', 'Anil'), ('Company', 'UST Global'), ('Location', 'Banglore'), ('Salary', '100000'), ('phone', '89077543'), ('age', 35)])

In [306]:
l=["red","green","blue"]
dict(enumerate(l))

{0: 'red', 1: 'green', 2: 'blue'}

In [309]:
n=['a','b','c']
dict(zip(n,l))

{'a': 'red', 'b': 'green', 'c': 'blue'}

Calculate the characther histogram of a string

In [312]:
s='mississippi'
ch={}
for c in s.lower():
    if c in ch.keys():
        ch[c]=ch[c]+1
    else:
        ch[c]=1
ch

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [316]:
a = ['Mahesh', 'Lakith', 25, 26] 
for
c=a[:2:]
# d1.keys=a[:1]
# d.values=a[:-2:-1]
c

['Mahesh', 'Lakith']

In [322]:
a = ['Mahesh', 'Lakith', 25, 26]
j=0
for i in a:
    if isinstance(i, str):
        j=j+1
x=a[:j:]
y=a[j::]
dict(zip(x,y))

{'Mahesh': 25, 'Lakith': 26}

In [323]:
d

{'name': 'Anil',
 'Company': 'UST Global',
 'Location': 'Banglore',
 'Salary': '100000',
 'phone': '89077543',
 'age': 35}

In [324]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [327]:
d2={}
for i,j in d.items():
    d2[j]=i
d2

{'Anil': 'name',
 'UST Global': 'Company',
 'Banglore': 'Location',
 '100000': 'Salary',
 '89077543': 'phone',
 35: 'age'}

Session #3 [40]
-------------------------------------------------------------------------------------------------------------------

1. Count Word Frequency in a Sentence  
Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}  

2. Find Unique Elements in Two Lists Using Sets  
Task: Given two lists, find the elements that are unique to each list using sets.  
Example:  
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6}  
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}  

3. Merge Two Dictionaries  
Task: Merge two dictionaries and sum the values of common keys.  
Example:  
dict1 = {'a': 10, 'b': 20}  4. Find the Intersection of Two Sets  
Task: Given two sets, find the common elements.  
Example:  
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
Output: {3, 4}  
dict2 = {'b': 30, 'c': 40}  
Output: {'a': 10, 'b': 50, 'c': 40}  



5. Find the Most Frequent Element in a List  
Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)  

6. Remove Duplicates from a List Using Sets  
Task: Remove duplicates from a list while maintaining order.  
Example:  
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
Output: [1, 2, 3, 4, 5, 6]  

7. Find Students Who Enrolled in Both Courses  
Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"}  

8. Find the Union of Multiple Sets  
Task: Find the union of three sets.  
Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
Output: {1, 2, 3, 4, 5, 6, 7}  

9. Reverse a Dictionary (Keys Become Values, Values Become Keys)  
Task: Swap keys and values in a dictionary.  
Example:  
original_dict = {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}  

10. Check If Two Words Are Anagrams Using Dictionaries  
Task: Given two words, check if they are anagrams (i.e., contain the same letters with the same frequency).  
Example:  
word1 = "listen"  
word2 = "silent"  
Output: True (They are anagrams)

1. Count Word Frequency in a Sentence  
Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}

In [328]:
sentence = "apple banana apple orange banana apple"
word_count = {}

for word in sentence.split():  # Split sentence into words
    word_count[word] = word_count.get(word, 0) + 1  # Increase count

print(word_count)

{'apple': 3, 'banana': 2, 'orange': 1}

2. Find Unique Elements in Two Lists Using Sets  
Task: Given two lists, find the elements that are unique to each list using sets.  
Example:  
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6}  
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}

In [332]:
l1={1,2,3,4}
l2={3,4,5,6}
unique_l1=l1-l2
unique_l2=l2-l1
print("Unique elements in l1 is {0} and Unique elements in l1 is {1} ".format(unique_l1,unique_l2))

Unique elements in l1 is {1, 2} and Unique elements in l1 is {5, 6}

3. Merge Two Dictionaries  
Task: Merge two dictionaries and sum the values of common keys.  
Example:  
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}  
Output: {'a': 10, 'b': 50, 'c': 40}

In [360]:
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40} 
c_dict = {}
for i in dict1.keys():
    if i in dict2:
        c_dict[i] = dict1[i] + dict2[i]
    else:
        c_dict[i] = dict1[i]

for i in dict2.keys():
    if i not in dict1:
        c_dict[i] = dict2[i]

c_dict

{'a': 10, 'b': 50, 'c': 40}

In [354]:
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}
l1=list(dict1.keys())
l2=list(dict2.keys())
# l3=l1+l2
# s1=set(l1)
# s2=set(l2)
# s3=s1 | s2
dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 30, 'c': 40}

dict3 = dict1 | dict2  #  Creates a new merged dictionary
print(dict3)

dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 30, 'c': 40}

dict3 = {key: dict1.get(key, 0) + dict2.get(key, 0) for key in set(dict1) | set(dict2)}

print(dict3)


# dict3=dict1|dict2
# print(dict3)

{'a': 10, 'b': 30, 'c': 40}
{'b': 50, 'a': 10, 'c': 40}

In [345]:
list(dict1.keys())

['a', 'b']

In [343]:
dict2.keys()

dict_keys(['b', 'c'])

4. Find the Intersection of Two Sets  
Task: Given two sets, find the common elements.  
Example:  
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
Output: {3, 4}

In [355]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Method 1: Using & operator
intersection1 = set1 & set2  

# Method 2: Using intersection() method
intersection2 = set1.intersection(set2)  

print(intersection1)  # Output: {3, 4}
print(intersection2)  # Output: {3, 4}

{3, 4}
{3, 4}

5. Find the Most Frequent Element in a List  
Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)

In [359]:
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]

unique_numbers =list( set(numbers))  #  Convert list to set
print(unique_numbers)
d={}
c=0

for i in unique_numbers:
    if i in unique_numbers:
        d[i]=c+1
        
print(d)

[1, 2, 3, 4, 5]
{1: 1, 2: 1, 3: 1, 4: 1, 5: 1}