In [1]:
path=r"C:\Users\292593\Desktop\master\python training\Git_repo\excercise\ust-python-2025\case-studies\day-12-case-student-report\students.csv"

In [2]:
f=open(path)
content = f.readlines()
f.close()

In [3]:
content

['name,age,regid,phy,chem,math,bio,avg,rank\n',
 'Vijay,14,HPE001,99,98,97,96,0,0\n',
 'Aryan,14,HPE002,98,91,93,96,0,0\n',
 'Muni,14,HPE003,97,98,97,94,0,0\n',
 'Abhi,14,HPE004,96,93,97,95,0,0\n',
 'Hemanth,14,HPE005,94,91,93,96,0,0\n',
 'Grace,14,HPE006,94,95,96,97,0,0\n',
 'Ankita,14,CAP007,99,99,99,99,0,0\n',
 'John,14,HPE008,96,93,97,95,0,0\n',
 'Chris,14,HPE009,94,91,93,96,0,0\n',
 'Grace,14,ORA006,94,95,96,97,0,0\n',
 'Ankita,14,INF007,99,99,99,99,0,0\n']

In [4]:
c=[item.strip("\n") for item in content]

In [5]:
c

['name,age,regid,phy,chem,math,bio,avg,rank',
 'Vijay,14,HPE001,99,98,97,96,0,0',
 'Aryan,14,HPE002,98,91,93,96,0,0',
 'Muni,14,HPE003,97,98,97,94,0,0',
 'Abhi,14,HPE004,96,93,97,95,0,0',
 'Hemanth,14,HPE005,94,91,93,96,0,0',
 'Grace,14,HPE006,94,95,96,97,0,0',
 'Ankita,14,CAP007,99,99,99,99,0,0',
 'John,14,HPE008,96,93,97,95,0,0',
 'Chris,14,HPE009,94,91,93,96,0,0',
 'Grace,14,ORA006,94,95,96,97,0,0',
 'Ankita,14,INF007,99,99,99,99,0,0']

In [6]:
nested_data = [row.split(",") for row in c]

In [7]:
nested_data

[['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank'],
 ['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0'],
 ['Aryan', '14', 'HPE002', '98', '91', '93', '96', '0', '0'],
 ['Muni', '14', 'HPE003', '97', '98', '97', '94', '0', '0'],
 ['Abhi', '14', 'HPE004', '96', '93', '97', '95', '0', '0'],
 ['Hemanth', '14', 'HPE005', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'HPE006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'CAP007', '99', '99', '99', '99', '0', '0'],
 ['John', '14', 'HPE008', '96', '93', '97', '95', '0', '0'],
 ['Chris', '14', 'HPE009', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'ORA006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'INF007', '99', '99', '99', '99', '0', '0']]

In [8]:
type(nested_data)

list

In [9]:
keys=nested_data[0]

In [10]:
keys

['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank']

In [11]:
values=nested_data[1::]
values

[['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0'],
 ['Aryan', '14', 'HPE002', '98', '91', '93', '96', '0', '0'],
 ['Muni', '14', 'HPE003', '97', '98', '97', '94', '0', '0'],
 ['Abhi', '14', 'HPE004', '96', '93', '97', '95', '0', '0'],
 ['Hemanth', '14', 'HPE005', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'HPE006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'CAP007', '99', '99', '99', '99', '0', '0'],
 ['John', '14', 'HPE008', '96', '93', '97', '95', '0', '0'],
 ['Chris', '14', 'HPE009', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'ORA006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'INF007', '99', '99', '99', '99', '0', '0']]

In [12]:
d1=dict(zip(keys,values))

In [13]:
d1

{'name': ['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0'],
 'age': ['Aryan', '14', 'HPE002', '98', '91', '93', '96', '0', '0'],
 'regid': ['Muni', '14', 'HPE003', '97', '98', '97', '94', '0', '0'],
 'phy': ['Abhi', '14', 'HPE004', '96', '93', '97', '95', '0', '0'],
 'chem': ['Hemanth', '14', 'HPE005', '94', '91', '93', '96', '0', '0'],
 'math': ['Grace', '14', 'HPE006', '94', '95', '96', '97', '0', '0'],
 'bio': ['Ankita', '14', 'CAP007', '99', '99', '99', '99', '0', '0'],
 'avg': ['John', '14', 'HPE008', '96', '93', '97', '95', '0', '0'],
 'rank': ['Chris', '14', 'HPE009', '94', '91', '93', '96', '0', '0']}

In [14]:
class_dict = {}
for i in values:
    student_dict=dict(zip(keys,i))
    class_dict[student_dict['regid']] = student_dict

In [15]:
print(class_dict)

{'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE002': {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': '98', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE003': {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': '97', 'chem': '98', 'math': '97', 'bio': '94', 'avg': '0', 'rank': '0'}, 'HPE004': {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': '0', 'rank': '0'}, 'HPE005': {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE006': {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': '0', 'rank': '0'}, 'CAP007': {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': '0', 'rank': '0'}, 'HPE008': {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': '0', 'rank': '0'}, 'HPE009': {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'ORA006': {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': '0', 'rank': '0'}, 'INF007': {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': '0', 'rank': '0'}}

In [16]:
print(student_dict)

{'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': '0', 'rank': '0'}

In [ ]:
print(student_dict)

In [ ]:
class_dict

In [ ]:
sub=["phy","chem","math","bio"]

In [ ]:
for i in class_dict.items():
    print(i)

In [25]:
for i, j in class_dict.items():
    total_marks = sum(int(j[sub]) for sub in ['phy', 'chem', 'math', 'bio'])
    avg_marks = total_marks / 4  # Compute the average
    
    j['total'] = total_marks  # Store total marks in student dictionary
    j['avg'] = round(avg_marks, 2)  # Store average marks

    # ❌ Don't do this! It corrupts the dictionary structure
    # class_dict['total'] = j["total"]

# Now, class_dict correctly stores the total and average for each student
print(class_dict)

TypeError: 'int' object is not subscriptable

In [24]:
for i ,j in class_dict.items():
    total_marks = sum(int(j[sub]) for sub in ['phy', 'chem', 'math', 'bio'])
    avg_marks = total_marks / 4  # Compute the average
    j['total'] = total_marks
    j['avg'] = round(avg_marks, 2)
    class_dict['total']=j["total"]

RuntimeError: dictionary changed size during iteration

In [22]:
print(class_dict)

{'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE002': {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': '98', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE003': {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': '97', 'chem': '98', 'math': '97', 'bio': '94', 'avg': '0', 'rank': '0'}, 'HPE004': {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': '0', 'rank': '0'}, 'HPE005': {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE006': {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': '0', 'rank': '0'}, 'CAP007': {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': '0', 'rank': '0'}, 'HPE008': {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': '0', 'rank': '0'}, 'HPE009': {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'ORA006': {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': '0', 'rank': '0'}, 'INF007': {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': '0', 'rank': '0'}}

In [21]:
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)
sorted_students

KeyError: 'total'

In [ ]:
sorted_students

In [20]:
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)
rank = 1
prev_total = None

for index, (regid, student) in enumerate(sorted_students, start=1):
    # If the current student's total marks differ from the previous, update the rank.
    if student['total'] != prev_total:
        rank = index
    student['rank'] = rank
    prev_total = student['total']

# Step 4: Print the final dictionary with total, average, and rank.
print(class_dict)

KeyError: 'total'

In [17]:
prev_total=0
rank_counter=0
for index, (regid, student) in enumerate(sorted_students, start=1):
    if student['total'] != prev_total:
        rank = rank_counter  # Assign the next available rank
    student['rank'] = rank
    sorted_students['regid']['rank']=student['rank']    
    prev_total = student['total']
    rank_counter += 1

NameError: name 'sorted_students' is not defined

In [ ]:
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

In [ ]:
type(sorted_students)

prev_total = None
rank = 0

# Sorting students by total marks in descending order
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

for index, (regid, student) in enumerate(sorted_students, start=1):
    if student['total'] != prev_total:  # Assign a new rank only when total changes
        rank = index
    
    # ✅ Updating the rank in the original dictionary
    class_dict[regid]['rank'] = rank  

    prev_total = student['total']  # Update previous total

prev_total = None
rank = 0

# Sort students based on 'total' marks in descending order
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

for index, (regid, student) in enumerate(sorted_students, start=1):
    if student['total'] != prev_total:  # Assign a new rank only when total changes
        rank = index

    # ✅ Update the rank in the original dictionary
    class_dict[regid]['rank'] = rank  

    prev_total = student['total']  # Update previous total

# Sort by 'total' marks in descending order
sorted_items = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

# Update rank while rebuilding class_dict
rank = 0  
prev_total = None
class_dict = {}  # Rebuild dictionary

for regid, student in sorted_items:
    # Assign rank
    if student['total'] != prev_total:
        rank += 1
    student['rank'] = rank  
    prev_total = student['total']
    
    # Insert into the new dictionary in sorted order
    class_dict[regid] = student  

# Print updated dictionary
print(class_dict)

In [19]:
# Sort by 'total' in descending order
sorted_items = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

# Rebuild dictionary while assigning rank
class_dict = {}  # Rebuild the dictionary

prev_total = None
rank = 0

for index, (regid, student) in enumerate(sorted_items, start=1):
    # Assign the same rank if the total marks are the same
    if student['total'] != prev_total:
        rank = index  # Assign rank based on index when marks change
    
    student['rank'] = rank
    prev_total = student['total']  # Store previous total marks

    # Insert into the new dictionary in sorted order
    class_dict[regid] = student  

# Print updated dictionary
print(class_dict)

KeyError: 'total'

In [ ]:
print(sorted_students)

In [ ]:
print(class_dict)

In [ ]:
#class_dict=sorted_students

In [ ]:
class_dict

In [ ]:
type(class_dict)

In [ ]:
for index, (regid, student) in enumerate(sorted_students, start=1):
    print(index, (regid, student))

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame.from_dict(class_dict, orient='index')

In [ ]:
df

In [ ]:
template = "{0:8} | {1:15} | {2:5} | {3:5} | {4:5} | {5:5} | {6:5} | {7:5} | {8:5}"
line = '-'*90
 
print("\nCLASS REPORT")
print(line)
print(template.format('REGID', 'NAME', 'AGE', 'PHY', 'CHEM', 'MATH', 'BIO', 'AVG', 'RANK'))
print(line)
for regid in class_dict.keys():
    name = class_dict[regid]['name']
    id = class_dict[regid]['regid']
    age = class_dict[regid]['age']
    phy = class_dict[regid]['phy']
    chem = class_dict[regid]['chem']
    math = class_dict[regid]['math']
    bio = class_dict[regid]['bio']
    avg = class_dict[regid]['avg']
    rank = class_dict[regid]['rank']
    print(template.format(id, name, age, phy, chem, math, bio, avg, rank))
print(line)

In [26]:
import json

# Sample data dictionary (should be built from your nested_data list)
#class_dict 
# Step 1: Compute total and average for each student
for i, j in class_dict.items():
    total_marks = sum(j[sub] for sub in ['phy', 'chem', 'math', 'bio'])
    avg_marks = total_marks / 4
    
    j['total'] = total_marks
    j['avg'] = round(avg_marks, 2)

# Step 2: Sort students by total marks (descending)
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

# Step 3: Assign ranks with ties considered
rank = 1
prev_total = None

for index, (regid, student) in enumerate(sorted_students, start=1):
    if student['total'] != prev_total:
        rank = index  # Assign the current index as rank if marks change
    
    student['rank'] = rank
    prev_total = student['total']

# Convert to JSON format for better readability
#json_output = json.dumps(class_dict, indent=4)
print(json_output)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
# Sample data
c = [
    'name,age,regid,phy,chem,math,bio,avg,rank',
    'Vijay,14,HPE001,99,98,97,96,0,0',
    'Aryan,14,HPE002,98,91,93,96,0,0',
    'Muni,14,HPE003,97,98,97,94,0,0',
    'Abhi,14,HPE004,96,93,97,95,0,0',
    'Hemanth,14,HPE005,94,91,93,96,0,0',
    'Grace,14,HPE006,94,95,96,97,0,0',
    'Ankita,14,CAP007,99,99,99,99,0,0',
    'John,14,HPE008,96,93,97,95,0,0',
    'Chris,14,HPE009,94,91,93,96,0,0',
    'Grace,14,ORA006,94,95,96,97,0,0',
    'Ankita,14,INF007,99,99,99,99,0,0'
]

# Convert data into a nested list
nested_data = [row.split(",") for row in c]

# Extract headers and values
keys = nested_data[0]  # ['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank']
values = nested_data[1:]  # All student data

# Creating dictionary for students
class_dict = {}

for i in values:
    student_dict = dict(zip(keys, i))  # Create a dictionary from student data
    student_dict['phy'] = int(student_dict['phy'])
    student_dict['chem'] = int(student_dict['chem'])
    student_dict['math'] = int(student_dict['math'])
    student_dict['bio'] = int(student_dict['bio'])

    # Compute total and average
    student_dict['total'] = student_dict['phy'] + student_dict['chem'] + student_dict['math'] + student_dict['bio']
    student_dict['avg'] = student_dict['total'] / 4

    class_dict[student_dict['regid']] = student_dict

# Sorting based on total marks in descending order
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

# Assign ranks
rank = 1
prev_total = None

for index, (regid, student) in enumerate(sorted_students, start=1):
    if student['total'] != prev_total:
        rank = index
    student['rank'] = rank
    prev_total = student['total']

# Print final dictionary with total, average, and rank
for regid, student in class_dict.items():
    print(f"{student['name']} ({student['regid']}): Total={student['total']}, Avg={student['avg']:.2f}, Rank={student['rank']}")

Vijay (HPE001): Total=390, Avg=97.50, Rank=3
Aryan (HPE002): Total=378, Avg=94.50, Rank=9
Muni (HPE003): Total=386, Avg=96.50, Rank=4
Abhi (HPE004): Total=381, Avg=95.25, Rank=7
Hemanth (HPE005): Total=374, Avg=93.50, Rank=10
Grace (HPE006): Total=382, Avg=95.50, Rank=5
Ankita (CAP007): Total=396, Avg=99.00, Rank=1
John (HPE008): Total=381, Avg=95.25, Rank=7
Chris (HPE009): Total=374, Avg=93.50, Rank=10
Grace (ORA006): Total=382, Avg=95.50, Rank=5
Ankita (INF007): Total=396, Avg=99.00, Rank=1

In [28]:
class_dict

{'HPE001': {'name': 'Vijay',
  'age': '14',
  'regid': 'HPE001',
  'phy': 99,
  'chem': 98,
  'math': 97,
  'bio': 96,
  'avg': 97.5,
  'rank': 3,
  'total': 390},
 'HPE002': {'name': 'Aryan',
  'age': '14',
  'regid': 'HPE002',
  'phy': 98,
  'chem': 91,
  'math': 93,
  'bio': 96,
  'avg': 94.5,
  'rank': 9,
  'total': 378},
 'HPE003': {'name': 'Muni',
  'age': '14',
  'regid': 'HPE003',
  'phy': 97,
  'chem': 98,
  'math': 97,
  'bio': 94,
  'avg': 96.5,
  'rank': 4,
  'total': 386},
 'HPE004': {'name': 'Abhi',
  'age': '14',
  'regid': 'HPE004',
  'phy': 96,
  'chem': 93,
  'math': 97,
  'bio': 95,
  'avg': 95.25,
  'rank': 7,
  'total': 381},
 'HPE005': {'name': 'Hemanth',
  'age': '14',
  'regid': 'HPE005',
  'phy': 94,
  'chem': 91,
  'math': 93,
  'bio': 96,
  'avg': 93.5,
  'rank': 10,
  'total': 374},
 'HPE006': {'name': 'Grace',
  'age': '14',
  'regid': 'HPE006',
  'phy': 94,
  'chem': 95,
  'math': 96,
  'bio': 97,
  'avg': 95.5,
  'rank': 5,
  'total': 382},
 'CAP007': {'name': 'Ankita',
  'age': '14',
  'regid': 'CAP007',
  'phy': 99,
  'chem': 99,
  'math': 99,
  'bio': 99,
  'avg': 99.0,
  'rank': 1,
  'total': 396},
 'HPE008': {'name': 'John',
  'age': '14',
  'regid': 'HPE008',
  'phy': 96,
  'chem': 93,
  'math': 97,
  'bio': 95,
  'avg': 95.25,
  'rank': 7,
  'total': 381},
 'HPE009': {'name': 'Chris',
  'age': '14',
  'regid': 'HPE009',
  'phy': 94,
  'chem': 91,
  'math': 93,
  'bio': 96,
  'avg': 93.5,
  'rank': 10,
  'total': 374},
 'ORA006': {'name': 'Grace',
  'age': '14',
  'regid': 'ORA006',
  'phy': 94,
  'chem': 95,
  'math': 96,
  'bio': 97,
  'avg': 95.5,
  'rank': 5,
  'total': 382},
 'INF007': {'name': 'Ankita',
  'age': '14',
  'regid': 'INF007',
  'phy': 99,
  'chem': 99,
  'math': 99,
  'bio': 99,
  'avg': 99.0,
  'rank': 1,
  'total': 396}}

In [29]:
students = {
    'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': 99, 'chem': 98, 'math': 97, 'bio': 96, 'avg': 97.5, 'rank': 3, 'total': 390},
    'HPE002': {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': 98, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 94.5, 'rank': 9, 'total': 378},
    'HPE003': {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': 97, 'chem': 98, 'math': 97, 'bio': 94, 'avg': 96.5, 'rank': 4, 'total': 386},
    'HPE004': {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381},
    'HPE005': {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374},
    'HPE006': {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382},
    'CAP007': {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396},
    'HPE008': {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381},
    'HPE009': {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374},
    'ORA006': {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382},
    'INF007': {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396}
}

# Sorting logic: Ankita first, then others by rank
sorted_students = {
    k: v for k, v in sorted(students.items(), key=lambda item: (item[1]['name'] != 'Ankita', item[1]['rank']))
}

# Printing sorted dictionary
for regid, details in sorted_students.items():
    print(regid, details)

CAP007 {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396}
INF007 {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396}
HPE001 {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': 99, 'chem': 98, 'math': 97, 'bio': 96, 'avg': 97.5, 'rank': 3, 'total': 390}
HPE003 {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': 97, 'chem': 98, 'math': 97, 'bio': 94, 'avg': 96.5, 'rank': 4, 'total': 386}
HPE006 {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382}
ORA006 {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382}
HPE004 {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381}
HPE008 {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381}
HPE002 {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': 98, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 94.5, 'rank': 9, 'total': 378}
HPE005 {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374}
HPE009 {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374}

In [30]:
class_dict

{'HPE001': {'name': 'Vijay',
  'age': '14',
  'regid': 'HPE001',
  'phy': 99,
  'chem': 98,
  'math': 97,
  'bio': 96,
  'avg': 97.5,
  'rank': 3,
  'total': 390},
 'HPE002': {'name': 'Aryan',
  'age': '14',
  'regid': 'HPE002',
  'phy': 98,
  'chem': 91,
  'math': 93,
  'bio': 96,
  'avg': 94.5,
  'rank': 9,
  'total': 378},
 'HPE003': {'name': 'Muni',
  'age': '14',
  'regid': 'HPE003',
  'phy': 97,
  'chem': 98,
  'math': 97,
  'bio': 94,
  'avg': 96.5,
  'rank': 4,
  'total': 386},
 'HPE004': {'name': 'Abhi',
  'age': '14',
  'regid': 'HPE004',
  'phy': 96,
  'chem': 93,
  'math': 97,
  'bio': 95,
  'avg': 95.25,
  'rank': 7,
  'total': 381},
 'HPE005': {'name': 'Hemanth',
  'age': '14',
  'regid': 'HPE005',
  'phy': 94,
  'chem': 91,
  'math': 93,
  'bio': 96,
  'avg': 93.5,
  'rank': 10,
  'total': 374},
 'HPE006': {'name': 'Grace',
  'age': '14',
  'regid': 'HPE006',
  'phy': 94,
  'chem': 95,
  'math': 96,
  'bio': 97,
  'avg': 95.5,
  'rank': 5,
  'total': 382},
 'CAP007': {'name': 'Ankita',
  'age': '14',
  'regid': 'CAP007',
  'phy': 99,
  'chem': 99,
  'math': 99,
  'bio': 99,
  'avg': 99.0,
  'rank': 1,
  'total': 396},
 'HPE008': {'name': 'John',
  'age': '14',
  'regid': 'HPE008',
  'phy': 96,
  'chem': 93,
  'math': 97,
  'bio': 95,
  'avg': 95.25,
  'rank': 7,
  'total': 381},
 'HPE009': {'name': 'Chris',
  'age': '14',
  'regid': 'HPE009',
  'phy': 94,
  'chem': 91,
  'math': 93,
  'bio': 96,
  'avg': 93.5,
  'rank': 10,
  'total': 374},
 'ORA006': {'name': 'Grace',
  'age': '14',
  'regid': 'ORA006',
  'phy': 94,
  'chem': 95,
  'math': 96,
  'bio': 97,
  'avg': 95.5,
  'rank': 5,
  'total': 382},
 'INF007': {'name': 'Ankita',
  'age': '14',
  'regid': 'INF007',
  'phy': 99,
  'chem': 99,
  'math': 99,
  'bio': 99,
  'avg': 99.0,
  'rank': 1,
  'total': 396}}

In [31]:
students = {
    'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': 99, 'chem': 98, 'math': 97, 'bio': 96, 'avg': 97.5, 'rank': 3, 'total': 390},
    'HPE002': {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': 98, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 94.5, 'rank': 9, 'total': 378},
    'HPE003': {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': 97, 'chem': 98, 'math': 97, 'bio': 94, 'avg': 96.5, 'rank': 4, 'total': 386},
    'HPE004': {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381},
    'HPE005': {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374},
    'HPE006': {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382},
    'CAP007': {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396},
    'HPE008': {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381},
    'HPE009': {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374},
    'ORA006': {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382},
    'INF007': {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396}
}

# Sorting logic: Prioritize "Ankita", then sort by rank
sorted_students = dict(sorted(students.items(), key=lambda item: (item[1]['name'] != 'Ankita', item[1]['rank'])))

# Update class_dict with sorted data
class_dict = sorted_students

# Print the updated class_dict
print(class_dict)

{'CAP007': {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396}, 'INF007': {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': 99, 'chem': 99, 'math': 99, 'bio': 99, 'avg': 99.0, 'rank': 1, 'total': 396}, 'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': 99, 'chem': 98, 'math': 97, 'bio': 96, 'avg': 97.5, 'rank': 3, 'total': 390}, 'HPE003': {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': 97, 'chem': 98, 'math': 97, 'bio': 94, 'avg': 96.5, 'rank': 4, 'total': 386}, 'HPE006': {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382}, 'ORA006': {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': 94, 'chem': 95, 'math': 96, 'bio': 97, 'avg': 95.5, 'rank': 5, 'total': 382}, 'HPE004': {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381}, 'HPE008': {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': 96, 'chem': 93, 'math': 97, 'bio': 95, 'avg': 95.25, 'rank': 7, 'total': 381}, 'HPE002': {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': 98, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 94.5, 'rank': 9, 'total': 378}, 'HPE005': {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374}, 'HPE009': {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': 94, 'chem': 91, 'math': 93, 'bio': 96, 'avg': 93.5, 'rank': 10, 'total': 374}}