# Case Study

# opening file and reading content

In [1]:
path=r"C:\Users\292593\Desktop\master\python training\Git_repo\excercise\ust-python-2025\case-studies\day-12-case-student-report\students.csv"

In [2]:
import os

In [31]:
f=open(path)
content = f.readlines()
f.close()

In [32]:
content

['name,age,regid,phy,chem,math,bio,avg,rank\n',
 'Vijay,14,HPE001,99,98,97,96,0,0\n',
 'Aryan,14,HPE002,98,91,93,96,0,0\n',
 'Muni,14,HPE003,97,98,97,94,0,0\n',
 'Abhi,14,HPE004,96,93,97,95,0,0\n',
 'Hemanth,14,HPE005,94,91,93,96,0,0\n',
 'Grace,14,HPE006,94,95,96,97,0,0\n',
 'Ankita,14,CAP007,99,99,99,99,0,0\n',
 'John,14,HPE008,96,93,97,95,0,0\n',
 'Chris,14,HPE009,94,91,93,96,0,0\n',
 'Grace,14,ORA006,94,95,96,97,0,0\n',
 'Ankita,14,INF007,99,99,99,99,0,0\n']

In [5]:
content

['name,age,regid,phy,chem,math,bio,avg,rank\n',
 'Vijay,14,HPE001,99,98,97,96,0,0\n',
 'Aryan,14,HPE002,98,91,93,96,0,0\n',
 'Muni,14,HPE003,97,98,97,94,0,0\n',
 'Abhi,14,HPE004,96,93,97,95,0,0\n',
 'Hemanth,14,HPE005,94,91,93,96,0,0\n',
 'Grace,14,HPE006,94,95,96,97,0,0\n',
 'Ankita,14,CAP007,99,99,99,99,0,0\n',
 'John,14,HPE008,96,93,97,95,0,0\n',
 'Chris,14,HPE009,94,91,93,96,0,0\n',
 'Grace,14,ORA006,94,95,96,97,0,0\n',
 'Ankita,14,INF007,99,99,99,99,0,0\n']

In [6]:
type(content)

list

In [7]:
c=[item.strip("\n") for item in content]

In [8]:
c

['name,age,regid,phy,chem,math,bio,avg,rank',
 'Vijay,14,HPE001,99,98,97,96,0,0',
 'Aryan,14,HPE002,98,91,93,96,0,0',
 'Muni,14,HPE003,97,98,97,94,0,0',
 'Abhi,14,HPE004,96,93,97,95,0,0',
 'Hemanth,14,HPE005,94,91,93,96,0,0',
 'Grace,14,HPE006,94,95,96,97,0,0',
 'Ankita,14,CAP007,99,99,99,99,0,0',
 'John,14,HPE008,96,93,97,95,0,0',
 'Chris,14,HPE009,94,91,93,96,0,0',
 'Grace,14,ORA006,94,95,96,97,0,0',
 'Ankita,14,INF007,99,99,99,99,0,0']

In [33]:
nested_data = [row.split(",") for row in c]

In [34]:
nested_data

[['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank'],
 ['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0'],
 ['Aryan', '14', 'HPE002', '98', '91', '93', '96', '0', '0'],
 ['Muni', '14', 'HPE003', '97', '98', '97', '94', '0', '0'],
 ['Abhi', '14', 'HPE004', '96', '93', '97', '95', '0', '0'],
 ['Hemanth', '14', 'HPE005', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'HPE006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'CAP007', '99', '99', '99', '99', '0', '0'],
 ['John', '14', 'HPE008', '96', '93', '97', '95', '0', '0'],
 ['Chris', '14', 'HPE009', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'ORA006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'INF007', '99', '99', '99', '99', '0', '0']]

In [35]:
a1=nested_data[0]

In [36]:
a1

['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank']

In [37]:
b1=nested_data[1::]

In [38]:
b1

[['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0'],
 ['Aryan', '14', 'HPE002', '98', '91', '93', '96', '0', '0'],
 ['Muni', '14', 'HPE003', '97', '98', '97', '94', '0', '0'],
 ['Abhi', '14', 'HPE004', '96', '93', '97', '95', '0', '0'],
 ['Hemanth', '14', 'HPE005', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'HPE006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'CAP007', '99', '99', '99', '99', '0', '0'],
 ['John', '14', 'HPE008', '96', '93', '97', '95', '0', '0'],
 ['Chris', '14', 'HPE009', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'ORA006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'INF007', '99', '99', '99', '99', '0', '0']]

In [15]:
d1=dict(zip(a1,b1))

In [16]:
d1

{'name': ['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0'],
 'age': ['Aryan', '14', 'HPE002', '98', '91', '93', '96', '0', '0'],
 'regid': ['Muni', '14', 'HPE003', '97', '98', '97', '94', '0', '0'],
 'phy': ['Abhi', '14', 'HPE004', '96', '93', '97', '95', '0', '0'],
 'chem': ['Hemanth', '14', 'HPE005', '94', '91', '93', '96', '0', '0'],
 'math': ['Grace', '14', 'HPE006', '94', '95', '96', '97', '0', '0'],
 'bio': ['Ankita', '14', 'CAP007', '99', '99', '99', '99', '0', '0'],
 'avg': ['John', '14', 'HPE008', '96', '93', '97', '95', '0', '0'],
 'rank': ['Chris', '14', 'HPE009', '94', '91', '93', '96', '0', '0']}

In [17]:
d=nested_data

In [18]:
d

[['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank'],
 ['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0'],
 ['Aryan', '14', 'HPE002', '98', '91', '93', '96', '0', '0'],
 ['Muni', '14', 'HPE003', '97', '98', '97', '94', '0', '0'],
 ['Abhi', '14', 'HPE004', '96', '93', '97', '95', '0', '0'],
 ['Hemanth', '14', 'HPE005', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'HPE006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'CAP007', '99', '99', '99', '99', '0', '0'],
 ['John', '14', 'HPE008', '96', '93', '97', '95', '0', '0'],
 ['Chris', '14', 'HPE009', '94', '91', '93', '96', '0', '0'],
 ['Grace', '14', 'ORA006', '94', '95', '96', '97', '0', '0'],
 ['Ankita', '14', 'INF007', '99', '99', '99', '99', '0', '0']]

In [19]:
keys=d[0]

In [20]:
keys

['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank']

In [21]:
d2 = [dict(zip(keys, row)) for row in d[1:]]

In [22]:
d2

[{'name': 'Vijay',
  'age': '14',
  'regid': 'HPE001',
  'phy': '99',
  'chem': '98',
  'math': '97',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 {'name': 'Aryan',
  'age': '14',
  'regid': 'HPE002',
  'phy': '98',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 {'name': 'Muni',
  'age': '14',
  'regid': 'HPE003',
  'phy': '97',
  'chem': '98',
  'math': '97',
  'bio': '94',
  'avg': '0',
  'rank': '0'},
 {'name': 'Abhi',
  'age': '14',
  'regid': 'HPE004',
  'phy': '96',
  'chem': '93',
  'math': '97',
  'bio': '95',
  'avg': '0',
  'rank': '0'},
 {'name': 'Hemanth',
  'age': '14',
  'regid': 'HPE005',
  'phy': '94',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 {'name': 'Grace',
  'age': '14',
  'regid': 'HPE006',
  'phy': '94',
  'chem': '95',
  'math': '96',
  'bio': '97',
  'avg': '0',
  'rank': '0'},
 {'name': 'Ankita',
  'age': '14',
  'regid': 'CAP007',
  'phy': '99',
  'chem': '99',
  'math': '99',
  'bio': '99',
  'avg': '0',
  'rank': '0'},
 {'name': 'John',
  'age': '14',
  'regid': 'HPE008',
  'phy': '96',
  'chem': '93',
  'math': '97',
  'bio': '95',
  'avg': '0',
  'rank': '0'},
 {'name': 'Chris',
  'age': '14',
  'regid': 'HPE009',
  'phy': '94',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 {'name': 'Grace',
  'age': '14',
  'regid': 'ORA006',
  'phy': '94',
  'chem': '95',
  'math': '96',
  'bio': '97',
  'avg': '0',
  'rank': '0'},
 {'name': 'Ankita',
  'age': '14',
  'regid': 'INF007',
  'phy': '99',
  'chem': '99',
  'math': '99',
  'bio': '99',
  'avg': '0',
  'rank': '0'}]

In [29]:
class_dict = {}

# Extract keys (column names)
columns = [item.strip() for item in d[0].split(',')]  

# Iterate through student data
for dataitem in d[1:]:
    values = [item.strip() for item in dataitem.split(',')]  # Extract values
    student_dict = dict(zip(columns, values))  # Map column names to values
    class_dict[student_dict['regid']] = student_dict  # Use 'regid' as dictionary key

# Print the final dictionary
import pprint
pprint.pprint(class_dict)

AttributeError: 'list' object has no attribute 'split'

In [30]:
class_dict = {}

# Extract keys (column names) directly
columns = d[0]  # No need to split, d[0] is already a list

# Iterate through student data
for dataitem in d[1:]:
    student_dict = dict(zip(columns, dataitem))  # Map column names to values
    class_dict[student_dict['regid']] = student_dict  # Use 'regid' as dictionary key

# Print the final dictionary

print(class_dict)

{'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE002': {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': '98', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE003': {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': '97', 'chem': '98', 'math': '97', 'bio': '94', 'avg': '0', 'rank': '0'}, 'HPE004': {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': '0', 'rank': '0'}, 'HPE005': {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'HPE006': {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': '0', 'rank': '0'}, 'CAP007': {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': '0', 'rank': '0'}, 'HPE008': {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': '0', 'rank': '0'}, 'HPE009': {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': '0', 'rank': '0'}, 'ORA006': {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': '0', 'rank': '0'}, 'INF007': {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': '0', 'rank': '0'}}

In [93]:
print(student_dict)

{'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}

In [26]:
print(class_dict)

{'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': 97.5, 'rank': 3, 'total': 390}, 'HPE002': {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': '98', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 94.5, 'rank': 9, 'total': 378}, 'HPE003': {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': '97', 'chem': '98', 'math': '97', 'bio': '94', 'avg': 96.5, 'rank': 4, 'total': 386}, 'HPE004': {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 7, 'total': 381}, 'HPE005': {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 10, 'total': 374}, 'HPE006': {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 5, 'total': 382}, 'CAP007': {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}, 'HPE008': {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 7, 'total': 381}, 'HPE009': {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 10, 'total': 374}, 'ORA006': {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 5, 'total': 382}, 'INF007': {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}}

In [ ]:
import pprint
pprint.pprint(class_dict)

In [27]:
class_dict

{'HPE001': {'name': 'Vijay',
  'age': '14',
  'regid': 'HPE001',
  'phy': '99',
  'chem': '98',
  'math': '97',
  'bio': '96',
  'avg': 97.5,
  'rank': 3,
  'total': 390},
 'HPE002': {'name': 'Aryan',
  'age': '14',
  'regid': 'HPE002',
  'phy': '98',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': 94.5,
  'rank': 9,
  'total': 378},
 'HPE003': {'name': 'Muni',
  'age': '14',
  'regid': 'HPE003',
  'phy': '97',
  'chem': '98',
  'math': '97',
  'bio': '94',
  'avg': 96.5,
  'rank': 4,
  'total': 386},
 'HPE004': {'name': 'Abhi',
  'age': '14',
  'regid': 'HPE004',
  'phy': '96',
  'chem': '93',
  'math': '97',
  'bio': '95',
  'avg': 95.25,
  'rank': 7,
  'total': 381},
 'HPE005': {'name': 'Hemanth',
  'age': '14',
  'regid': 'HPE005',
  'phy': '94',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': 93.5,
  'rank': 10,
  'total': 374},
 'HPE006': {'name': 'Grace',
  'age': '14',
  'regid': 'HPE006',
  'phy': '94',
  'chem': '95',
  'math': '96',
  'bio': '97',
  'avg': 95.5,
  'rank': 5,
  'total': 382},
 'CAP007': {'name': 'Ankita',
  'age': '14',
  'regid': 'CAP007',
  'phy': '99',
  'chem': '99',
  'math': '99',
  'bio': '99',
  'avg': 99.0,
  'rank': 1,
  'total': 396},
 'HPE008': {'name': 'John',
  'age': '14',
  'regid': 'HPE008',
  'phy': '96',
  'chem': '93',
  'math': '97',
  'bio': '95',
  'avg': 95.25,
  'rank': 7,
  'total': 381},
 'HPE009': {'name': 'Chris',
  'age': '14',
  'regid': 'HPE009',
  'phy': '94',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': 93.5,
  'rank': 10,
  'total': 374},
 'ORA006': {'name': 'Grace',
  'age': '14',
  'regid': 'ORA006',
  'phy': '94',
  'chem': '95',
  'math': '96',
  'bio': '97',
  'avg': 95.5,
  'rank': 5,
  'total': 382},
 'INF007': {'name': 'Ankita',
  'age': '14',
  'regid': 'INF007',
  'phy': '99',
  'chem': '99',
  'math': '99',
  'bio': '99',
  'avg': 99.0,
  'rank': 1,
  'total': 396}}

In [28]:
student_dict

{'name': 'Ankita',
 'age': '14',
 'regid': 'INF007',
 'phy': '99',
 'chem': '99',
 'math': '99',
 'bio': '99',
 'avg': 99.0,
 'rank': 1,
 'total': 396}

import pprint

f=open(path)
content = f.readlines()
f.close()
c=[item.strip("\n") for item in content]

# Step 1: Create a dictionary (class_dict) using 'regid' as key.
class_dict = {}
columns = d[0]  # The first row contains the column headers
c=[item.strip("\n") for item in content]
nested_data = [row.split(",") for row in c]

for row in d[1:]:
    student_dict = dict(zip(columns, row))
    class_dict[student_dict['regid']] = student_dict

# Step 2: Calculate total and average marks for each student.
for regid, student in class_dict.items():
    # Sum the marks for the subjects: 'phy', 'chem', 'math', 'bio'
    total_marks = sum(int(student[sub]) for sub in ['phy', 'chem', 'math', 'bio'])
    avg_marks = total_marks / 4  # Compute the average

    # Add total and average to the student's dictionary
    student['total'] = total_marks
    student['avg'] = round(avg_marks, 2)

# Step 3: Sort students by total marks in descending order and assign ranks.
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)
rank = 1
prev_total = None

for index, (regid, student) in enumerate(sorted_students, start=1):
    # If current student's total marks are different, update the rank.
    if student['total'] != prev_total:
        rank = index
    student['rank'] = rank
    prev_total = student['total']

# Step 4: Print the final dictionary with total, average, and rank.
pprint.pprint(class_dict)

In [39]:
import pprint

# Open the file (assuming 'path' is defined)
with open(path, 'r') as f:
    content = f.readlines()

# Remove newline characters and create a list of strings
lines = [line.strip("\n") for line in content]

# Convert each line into a list of values by splitting on commas
nested_data = [line.split(",") for line in lines]

# Step 1: Create a dictionary (class_dict) using 'regid' as key.
class_dict = {}
columns = nested_data[0]  # The first row contains the column headers

# Use the remaining rows to create student dictionaries
for row in nested_data[1:]:
    student_dict = dict(zip(columns, row))
    class_dict[student_dict['regid']] = student_dict

# Step 2: Calculate total and average marks for each student.
for regid, student in class_dict.items():
    # Sum the marks for the subjects: 'phy', 'chem', 'math', 'bio'
    total_marks = sum(int(student[sub]) for sub in ['phy', 'chem', 'math', 'bio'])
    avg_marks = total_marks / 4  # Compute the average

    # Add total and average to the student's dictionary
    student['total'] = total_marks
    student['avg'] = round(avg_marks, 2)

# Step 3: Sort students by total marks in descending order and assign ranks.
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)
rank = 1
prev_total = None

for index, (regid, student) in enumerate(sorted_students, start=1):
    # If the current student's total marks differ from the previous, update the rank.
    if student['total'] != prev_total:
        rank = index
    student['rank'] = rank
    prev_total = student['total']

# Step 4: Print the final dictionary with total, average, and rank.
pprint.pprint(class_dict)

{'CAP007': {'age': '14',
            'avg': 99.0,
            'bio': '99',
            'chem': '99',
            'math': '99',
            'name': 'Ankita',
            'phy': '99',
            'rank': 1,
            'regid': 'CAP007',
            'total': 396},
 'HPE001': {'age': '14',
            'avg': 97.5,
            'bio': '96',
            'chem': '98',
            'math': '97',
            'name': 'Vijay',
            'phy': '99',
            'rank': 3,
            'regid': 'HPE001',
            'total': 390},
 'HPE002': {'age': '14',
            'avg': 94.5,
            'bio': '96',
            'chem': '91',
            'math': '93',
            'name': 'Aryan',
            'phy': '98',
            'rank': 9,
            'regid': 'HPE002',
            'total': 378},
 'HPE003': {'age': '14',
            'avg': 96.5,
            'bio': '94',
            'chem': '98',
            'math': '97',
            'name': 'Muni',
            'phy': '97',
            'rank': 4,
            'regid': 'HPE003',
            'total': 386},
 'HPE004': {'age': '14',
            'avg': 95.25,
            'bio': '95',
            'chem': '93',
            'math': '97',
            'name': 'Abhi',
            'phy': '96',
            'rank': 7,
            'regid': 'HPE004',
            'total': 381},
 'HPE005': {'age': '14',
            'avg': 93.5,
            'bio': '96',
            'chem': '91',
            'math': '93',
            'name': 'Hemanth',
            'phy': '94',
            'rank': 10,
            'regid': 'HPE005',
            'total': 374},
 'HPE006': {'age': '14',
            'avg': 95.5,
            'bio': '97',
            'chem': '95',
            'math': '96',
            'name': 'Grace',
            'phy': '94',
            'rank': 5,
            'regid': 'HPE006',
            'total': 382},
 'HPE008': {'age': '14',
            'avg': 95.25,
            'bio': '95',
            'chem': '93',
            'math': '97',
            'name': 'John',
            'phy': '96',
            'rank': 7,
            'regid': 'HPE008',
            'total': 381},
 'HPE009': {'age': '14',
            'avg': 93.5,
            'bio': '96',
            'chem': '91',
            'math': '93',
            'name': 'Chris',
            'phy': '94',
            'rank': 10,
            'regid': 'HPE009',
            'total': 374},
 'INF007': {'age': '14',
            'avg': 99.0,
            'bio': '99',
            'chem': '99',
            'math': '99',
            'name': 'Ankita',
            'phy': '99',
            'rank': 1,
            'regid': 'INF007',
            'total': 396},
 'ORA006': {'age': '14',
            'avg': 95.5,
            'bio': '97',
            'chem': '95',
            'math': '96',
            'name': 'Grace',
            'phy': '94',
            'rank': 5,
            'regid': 'ORA006',
            'total': 382}}

for regid, student_data in class_dict.items():
    print(f"Reg ID: {regid}")
    for key, value in student_data.items():
        print(f"   {key}: {value}")
Output:
yaml
Copy
Edit
Reg ID: HPE001
   name: Vijay
   total: 390
   rank: 3
Reg ID: HPE002
   name: Aryan
   total: 378
   rank: 9
Reg ID: HPE003
   name: Muni
   total: 386
   rank: 4
2. Using items() to Access Keys and Values
If you need to get both keys and values, you can use:

python
Copy
Edit
for regid, student in class_dict.items():
    print(f"Student {student['name']} has total marks: {student['total']} and rank: {student['rank']}")
Output:
yaml
Copy
Edit
Student Vijay has total marks: 390 and rank: 3
Student Aryan has total marks: 378 and rank: 9
Student Muni has total marks: 386 and rank: 4
3. Accessing Only Specific Keys in Nested Dictionary
If you want to iterate only over selected keys inside the nested dictionary, use:

python
Copy
Edit
for regid, student in class_dict.items():
    print(f"Reg ID: {regid} - Total Marks: {student.get('total', 'N/A')}")
This ensures that even if the key 'total' is missing, it won't throw an error.

4. Iterating Through Nested Dictionary and Modifying Values
You can also update the nested dictionary while iterating:

python
Copy
Edit
for regid, student in class_dict.items():
    student['status'] = 'Passed' if student['total'] >= 380 else 'Failed'

pprint.pprint(class_dict)
This will add a "status" field for each student.

Would you like to extract or manipulate any specific data from your nested dictionary? 🚀

In [43]:
import pprint
for regid, student_data in class_dict.items():
    print(f"Reg ID: {regid}")
    for key, value in student_data.items():
       pprint.pprint(f"   {key}: {value}")

Reg ID: HPE001
'   name: Vijay'
'   age: 14'
'   regid: HPE001'
'   phy: 99'
'   chem: 98'
'   math: 97'
'   bio: 96'
'   avg: 97.5'
'   rank: 3'
'   total: 390'
Reg ID: HPE002
'   name: Aryan'
'   age: 14'
'   regid: HPE002'
'   phy: 98'
'   chem: 91'
'   math: 93'
'   bio: 96'
'   avg: 94.5'
'   rank: 9'
'   total: 378'
Reg ID: HPE003
'   name: Muni'
'   age: 14'
'   regid: HPE003'
'   phy: 97'
'   chem: 98'
'   math: 97'
'   bio: 94'
'   avg: 96.5'
'   rank: 4'
'   total: 386'
Reg ID: HPE004
'   name: Abhi'
'   age: 14'
'   regid: HPE004'
'   phy: 96'
'   chem: 93'
'   math: 97'
'   bio: 95'
'   avg: 95.25'
'   rank: 7'
'   total: 381'
Reg ID: HPE005
'   name: Hemanth'
'   age: 14'
'   regid: HPE005'
'   phy: 94'
'   chem: 91'
'   math: 93'
'   bio: 96'
'   avg: 93.5'
'   rank: 10'
'   total: 374'
Reg ID: HPE006
'   name: Grace'
'   age: 14'
'   regid: HPE006'
'   phy: 94'
'   chem: 95'
'   math: 96'
'   bio: 97'
'   avg: 95.5'
'   rank: 5'
'   total: 382'
Reg ID: CAP007
'   name: Ankita'
'   age: 14'
'   regid: CAP007'
'   phy: 99'
'   chem: 99'
'   math: 99'
'   bio: 99'
'   avg: 99.0'
'   rank: 1'
'   total: 396'
Reg ID: HPE008
'   name: John'
'   age: 14'
'   regid: HPE008'
'   phy: 96'
'   chem: 93'
'   math: 97'
'   bio: 95'
'   avg: 95.25'
'   rank: 7'
'   total: 381'
Reg ID: HPE009
'   name: Chris'
'   age: 14'
'   regid: HPE009'
'   phy: 94'
'   chem: 91'
'   math: 93'
'   bio: 96'
'   avg: 93.5'
'   rank: 10'
'   total: 374'
Reg ID: ORA006
'   name: Grace'
'   age: 14'
'   regid: ORA006'
'   phy: 94'
'   chem: 95'
'   math: 96'
'   bio: 97'
'   avg: 95.5'
'   rank: 5'
'   total: 382'
Reg ID: INF007
'   name: Ankita'
'   age: 14'
'   regid: INF007'
'   phy: 99'
'   chem: 99'
'   math: 99'
'   bio: 99'
'   avg: 99.0'
'   rank: 1'
'   total: 396'

In [45]:
for regid, student_data in class_dict.items():
    print(student_data)

{'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': 97.5, 'rank': 3, 'total': 390}
{'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': '98', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 94.5, 'rank': 9, 'total': 378}
{'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': '97', 'chem': '98', 'math': '97', 'bio': '94', 'avg': 96.5, 'rank': 4, 'total': 386}
{'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 7, 'total': 381}
{'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 10, 'total': 374}
{'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 5, 'total': 382}
{'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}
{'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 7, 'total': 381}
{'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 10, 'total': 374}
{'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 5, 'total': 382}
{'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}

In [48]:
sub=["phy","chem","math","bio"]
for i in  class_dict.values():
    print(i)

{'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': 97.5, 'rank': 3, 'total': 390}
{'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': '98', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 94.5, 'rank': 9, 'total': 378}
{'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': '97', 'chem': '98', 'math': '97', 'bio': '94', 'avg': 96.5, 'rank': 4, 'total': 386}
{'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 7, 'total': 381}
{'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 10, 'total': 374}
{'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 5, 'total': 382}
{'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}
{'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 7, 'total': 381}
{'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 10, 'total': 374}
{'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 5, 'total': 382}
{'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}

In [58]:
j=0
sub=["phy","chem","math","bio"]
for i in  class_dict.values():
    class_dict[regid][total_marks] = sum(int(student[subj]) for subj in sub) 

class_dict

{'HPE001': {'name': 'Vijay',
  'age': '14',
  'regid': 'HPE001',
  'phy': '99',
  'chem': '98',
  'math': '97',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 'HPE002': {'name': 'Aryan',
  'age': '14',
  'regid': 'HPE002',
  'phy': '98',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 'HPE003': {'name': 'Muni',
  'age': '14',
  'regid': 'HPE003',
  'phy': '97',
  'chem': '98',
  'math': '97',
  'bio': '94',
  'avg': '0',
  'rank': '0'},
 'HPE004': {'name': 'Abhi',
  'age': '14',
  'regid': 'HPE004',
  'phy': '96',
  'chem': '93',
  'math': '97',
  'bio': '95',
  'avg': '0',
  'rank': '0'},
 'HPE005': {'name': 'Hemanth',
  'age': '14',
  'regid': 'HPE005',
  'phy': '94',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 'HPE006': {'name': 'Grace',
  'age': '14',
  'regid': 'HPE006',
  'phy': '94',
  'chem': '95',
  'math': '96',
  'bio': '97',
  'avg': '0',
  'rank': '0'},
 'CAP007': {'name': 'Ankita',
  'age': '14',
  'regid': 'CAP007',
  'phy': '99',
  'chem': '99',
  'math': '99',
  'bio': '99',
  'avg': '0',
  'rank': '0'},
 'HPE008': {'name': 'John',
  'age': '14',
  'regid': 'HPE008',
  'phy': '96',
  'chem': '93',
  'math': '97',
  'bio': '95',
  'avg': '0',
  'rank': '0'},
 'HPE009': {'name': 'Chris',
  'age': '14',
  'regid': 'HPE009',
  'phy': '94',
  'chem': '91',
  'math': '93',
  'bio': '96',
  'avg': '0',
  'rank': '0'},
 'ORA006': {'name': 'Grace',
  'age': '14',
  'regid': 'ORA006',
  'phy': '94',
  'chem': '95',
  'math': '96',
  'bio': '97',
  'avg': '0',
  'rank': '0'},
 'INF007': {'name': 'Ankita',
  'age': '14',
  'regid': 'INF007',
  'phy': '99',
  'chem': '99',
  'math': '99',
  'bio': '99',
  'avg': '0',
  'rank': '0',
  374: 374}}

In [52]:
import pprint

# Open the file (assuming 'path' is defined)
with open(path, 'r') as f:
    content = f.readlines()

# Remove newline characters and create a list of strings
lines = [line.strip("\n") for line in content]

# Convert each line into a list of values by splitting on commas
nested_data = [line.split(",") for line in lines]

# Step 1: Create a dictionary (class_dict) using 'regid' as key.
class_dict = {}
columns = nested_data[0]  # The first row contains the column headers

# Use the remaining rows to create student dictionaries
for row in nested_data[1:]:
    student_dict = dict(zip(columns, row))
    class_dict[student_dict['regid']] = student_dict

sub=["phy","chem","math","bio"]
for i in  class_dict.values():
    total_marks = sum(int(student[subj]) for subj in sub)

NameError: name 'l' is not defined

In [60]:
import pprint

# Open the file (assuming 'path' is defined)
with open(path, 'r') as f:
    content = f.readlines()

# Remove newline characters and create a list of strings
lines = [line.strip("\n") for line in content]

# Convert each line into a list of values by splitting on commas
nested_data = [line.split(",") for line in lines]

# Step 1: Create a dictionary (class_dict) using 'regid' as key.
class_dict = {}
columns = nested_data[0]  # The first row contains the column headers

# Use the remaining rows to create student dictionaries
for row in nested_data[1:]:
    student_dict = dict(zip(columns, row))
    class_dict[student_dict['regid']] = student_dict

# Step 2: Calculate total and average marks for each student.
for regid, student in class_dict.items():
    # Sum the marks for the subjects: 'phy', 'chem', 'math', 'bio'
    total_marks = sum(int(student[sub]) for sub in ['phy', 'chem', 'math', 'bio'])
    avg_marks = total_marks / 4  # Compute the average

    # Add total and average to the student's dictionary
    student['total'] = total_marks
    student['avg'] = round(avg_marks, 2)

# Step 3: Sort students by total marks in descending order and assign ranks.
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)
rank = 1
prev_total = None

for index, (regid, student) in enumerate(sorted_students, start=1):
    # If the current student's total marks differ from the previous, update the rank.
    if student['total'] != prev_total:
        rank = index
    student['rank'] = rank
    prev_total = student['total']

# Step 4: Print the final dictionary with total, average, and rank.
pprint.pprint(class_dict)

{'CAP007': {'age': '14',
            'avg': 99.0,
            'bio': '99',
            'chem': '99',
            'math': '99',
            'name': 'Ankita',
            'phy': '99',
            'rank': 1,
            'regid': 'CAP007',
            'total': 396},
 'HPE001': {'age': '14',
            'avg': 97.5,
            'bio': '96',
            'chem': '98',
            'math': '97',
            'name': 'Vijay',
            'phy': '99',
            'rank': 3,
            'regid': 'HPE001',
            'total': 390},
 'HPE002': {'age': '14',
            'avg': 94.5,
            'bio': '96',
            'chem': '91',
            'math': '93',
            'name': 'Aryan',
            'phy': '98',
            'rank': 9,
            'regid': 'HPE002',
            'total': 378},
 'HPE003': {'age': '14',
            'avg': 96.5,
            'bio': '94',
            'chem': '98',
            'math': '97',
            'name': 'Muni',
            'phy': '97',
            'rank': 4,
            'regid': 'HPE003',
            'total': 386},
 'HPE004': {'age': '14',
            'avg': 95.25,
            'bio': '95',
            'chem': '93',
            'math': '97',
            'name': 'Abhi',
            'phy': '96',
            'rank': 7,
            'regid': 'HPE004',
            'total': 381},
 'HPE005': {'age': '14',
            'avg': 93.5,
            'bio': '96',
            'chem': '91',
            'math': '93',
            'name': 'Hemanth',
            'phy': '94',
            'rank': 10,
            'regid': 'HPE005',
            'total': 374},
 'HPE006': {'age': '14',
            'avg': 95.5,
            'bio': '97',
            'chem': '95',
            'math': '96',
            'name': 'Grace',
            'phy': '94',
            'rank': 5,
            'regid': 'HPE006',
            'total': 382},
 'HPE008': {'age': '14',
            'avg': 95.25,
            'bio': '95',
            'chem': '93',
            'math': '97',
            'name': 'John',
            'phy': '96',
            'rank': 7,
            'regid': 'HPE008',
            'total': 381},
 'HPE009': {'age': '14',
            'avg': 93.5,
            'bio': '96',
            'chem': '91',
            'math': '93',
            'name': 'Chris',
            'phy': '94',
            'rank': 10,
            'regid': 'HPE009',
            'total': 374},
 'INF007': {'age': '14',
            'avg': 99.0,
            'bio': '99',
            'chem': '99',
            'math': '99',
            'name': 'Ankita',
            'phy': '99',
            'rank': 1,
            'regid': 'INF007',
            'total': 396},
 'ORA006': {'age': '14',
            'avg': 95.5,
            'bio': '97',
            'chem': '95',
            'math': '96',
            'name': 'Grace',
            'phy': '94',
            'rank': 5,
            'regid': 'ORA006',
            'total': 382}}

In [62]:
import pprint

# Open the file (assuming 'path' is defined)
with open(path, 'r') as f:
    content = f.readlines()

# Remove newline characters and create a list of strings
lines = [line.strip("\n") for line in content]

# Convert each line into a list of values by splitting on commas
nested_data = [line.split(",") for line in lines]

# Step 1: Create a dictionary (class_dict) using 'regid' as key.
class_dict = {}
columns = nested_data[0]  # The first row contains the column headers

# Use the remaining rows to create student dictionaries
for row in nested_data[1:]:
    student_dict = dict(zip(columns, row))
    
    # Convert subject marks from string to integer
    for sub in ['phy', 'chem', 'math', 'bio']:
        student_dict[sub] = int(student_dict[sub])
    
    class_dict[student_dict['regid']] = student_dict

# Step 2: Calculate total and average marks for each student.
for student in class_dict.values():
    # Sum the marks for the subjects: 'phy', 'chem', 'math', 'bio'
    student['total'] = sum(student[sub] for sub in ['phy', 'chem', 'math', 'bio'])
    student['avg'] = round(student['total'] / 4, 2)  # Compute the average

# Step 3: Sort students by total marks in descending order and assign ranks correctly.
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

rank = 1
prev_total = None
rank_counter = 1  # Track the absolute position in the sorted list

for index, (regid, student) in enumerate(sorted_students, start=1):
    # Assign rank only if the total is different from the previous student
    if student['total'] != prev_total:
        rank = rank_counter  # Set the rank to the current position
    student['rank'] = rank
    prev_total = student['total']
    rank_counter += 1  # Always increment the position

# Step 4: Print the final dictionary with total, average, and rank.
pprint.pprint(class_dict)

{'CAP007': {'age': '14',
            'avg': 99.0,
            'bio': 99,
            'chem': 99,
            'math': 99,
            'name': 'Ankita',
            'phy': 99,
            'rank': 1,
            'regid': 'CAP007',
            'total': 396},
 'HPE001': {'age': '14',
            'avg': 97.5,
            'bio': 96,
            'chem': 98,
            'math': 97,
            'name': 'Vijay',
            'phy': 99,
            'rank': 3,
            'regid': 'HPE001',
            'total': 390},
 'HPE002': {'age': '14',
            'avg': 94.5,
            'bio': 96,
            'chem': 91,
            'math': 93,
            'name': 'Aryan',
            'phy': 98,
            'rank': 9,
            'regid': 'HPE002',
            'total': 378},
 'HPE003': {'age': '14',
            'avg': 96.5,
            'bio': 94,
            'chem': 98,
            'math': 97,
            'name': 'Muni',
            'phy': 97,
            'rank': 4,
            'regid': 'HPE003',
            'total': 386},
 'HPE004': {'age': '14',
            'avg': 95.25,
            'bio': 95,
            'chem': 93,
            'math': 97,
            'name': 'Abhi',
            'phy': 96,
            'rank': 7,
            'regid': 'HPE004',
            'total': 381},
 'HPE005': {'age': '14',
            'avg': 93.5,
            'bio': 96,
            'chem': 91,
            'math': 93,
            'name': 'Hemanth',
            'phy': 94,
            'rank': 10,
            'regid': 'HPE005',
            'total': 374},
 'HPE006': {'age': '14',
            'avg': 95.5,
            'bio': 97,
            'chem': 95,
            'math': 96,
            'name': 'Grace',
            'phy': 94,
            'rank': 5,
            'regid': 'HPE006',
            'total': 382},
 'HPE008': {'age': '14',
            'avg': 95.25,
            'bio': 95,
            'chem': 93,
            'math': 97,
            'name': 'John',
            'phy': 96,
            'rank': 7,
            'regid': 'HPE008',
            'total': 381},
 'HPE009': {'age': '14',
            'avg': 93.5,
            'bio': 96,
            'chem': 91,
            'math': 93,
            'name': 'Chris',
            'phy': 94,
            'rank': 10,
            'regid': 'HPE009',
            'total': 374},
 'INF007': {'age': '14',
            'avg': 99.0,
            'bio': 99,
            'chem': 99,
            'math': 99,
            'name': 'Ankita',
            'phy': 99,
            'rank': 1,
            'regid': 'INF007',
            'total': 396},
 'ORA006': {'age': '14',
            'avg': 95.5,
            'bio': 97,
            'chem': 95,
            'math': 96,
            'name': 'Grace',
            'phy': 94,
            'rank': 5,
            'regid': 'ORA006',
            'total': 382}}

In [67]:
import pprint

# Open the file (assuming 'path' is defined)
with open(path, 'r') as f:
    content = f.readlines()

# Remove newline characters and create a list of strings
lines = [line.strip("\n") for line in content]

# Convert each line into a list of values by splitting on commas
nested_data = [line.split(",") for line in lines]

# Step 1: Create a dictionary (class_dict) using 'regid' as key.
class_dict = {}
columns = nested_data[0]  # The first row contains the column headers

# Use the remaining rows to create student dictionaries
for row in nested_data[1:]:
    student_dict = dict(zip(columns, row))
    class_dict[student_dict['regid']] = student_dict

# Step 2: Calculate total and average marks for each student.
for regid, student in class_dict.items():
    # Convert marks to integers and calculate total & average
    total_marks = sum(int(student[sub]) for sub in ['phy', 'chem', 'math', 'bio'])
    avg_marks = total_marks / 4
    
    # Add total and average to the student's dictionary
    student['total'] = total_marks
    student['avg'] = round(avg_marks, 2)

# Step 3: Sort students by total marks in descending order and assign ranks.
sorted_students = sorted(class_dict.items(), key=lambda x: x[1]['total'], reverse=True)

rank = 0  # Initialize rank counter
prev_total = None

for regid, student in sorted_students:
    # Increase rank only if marks change
    if student['total'] != prev_total:
        rank += 1
    student['rank'] = rank
    prev_total = student['total']  # Store previous total marks

# Step 4: Print the final dictionary with total, average, and rank.
print(sorted_students)

[('CAP007', {'name': 'Ankita', 'age': '14', 'regid': 'CAP007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}), ('INF007', {'name': 'Ankita', 'age': '14', 'regid': 'INF007', 'phy': '99', 'chem': '99', 'math': '99', 'bio': '99', 'avg': 99.0, 'rank': 1, 'total': 396}), ('HPE001', {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': 97.5, 'rank': 2, 'total': 390}), ('HPE003', {'name': 'Muni', 'age': '14', 'regid': 'HPE003', 'phy': '97', 'chem': '98', 'math': '97', 'bio': '94', 'avg': 96.5, 'rank': 3, 'total': 386}), ('HPE006', {'name': 'Grace', 'age': '14', 'regid': 'HPE006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 4, 'total': 382}), ('ORA006', {'name': 'Grace', 'age': '14', 'regid': 'ORA006', 'phy': '94', 'chem': '95', 'math': '96', 'bio': '97', 'avg': 95.5, 'rank': 4, 'total': 382}), ('HPE004', {'name': 'Abhi', 'age': '14', 'regid': 'HPE004', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 5, 'total': 381}), ('HPE008', {'name': 'John', 'age': '14', 'regid': 'HPE008', 'phy': '96', 'chem': '93', 'math': '97', 'bio': '95', 'avg': 95.25, 'rank': 5, 'total': 381}), ('HPE002', {'name': 'Aryan', 'age': '14', 'regid': 'HPE002', 'phy': '98', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 94.5, 'rank': 6, 'total': 378}), ('HPE005', {'name': 'Hemanth', 'age': '14', 'regid': 'HPE005', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 7, 'total': 374}), ('HPE009', {'name': 'Chris', 'age': '14', 'regid': 'HPE009', 'phy': '94', 'chem': '91', 'math': '93', 'bio': '96', 'avg': 93.5, 'rank': 7, 'total': 374})]

In [70]:
import pandas as pd

In [79]:
df=pd.DataFrame.from_dict(class_dict, orient='index')

In [80]:
len(df)

11

In [81]:
df

           name age   regid phy chem math bio    avg  rank  total
HPE001    Vijay  14  HPE001  99   98   97  96  97.50     2    390
HPE002    Aryan  14  HPE002  98   91   93  96  94.50     6    378
HPE003     Muni  14  HPE003  97   98   97  94  96.50     3    386
HPE004     Abhi  14  HPE004  96   93   97  95  95.25     5    381
HPE005  Hemanth  14  HPE005  94   91   93  96  93.50     7    374
HPE006    Grace  14  HPE006  94   95   96  97  95.50     4    382
CAP007   Ankita  14  CAP007  99   99   99  99  99.00     1    396
HPE008     John  14  HPE008  96   93   97  95  95.25     5    381
HPE009    Chris  14  HPE009  94   91   93  96  93.50     7    374
ORA006    Grace  14  ORA006  94   95   96  97  95.50     4    382
INF007   Ankita  14  INF007  99   99   99  99  99.00     1    396

In [86]:
template = "{0:8} | {1:15} | {2:5} | {3:5} | {4:5} | {5:5} | {6:5} | {7:5} | {8:5}"
line = '-'*90
 
print("\nCLASS REPORT")
print(line)
print(template.format('REGID', 'NAME', 'AGE', 'PHY', 'CHEM', 'MATH', 'BIO', 'AVG', 'RANK'))
print(line)
for regid in class_dict.keys():
    name = class_dict[regid]['name']
    id = class_dict[regid]['regid']
    age = class_dict[regid]['age']
    phy = class_dict[regid]['phy']
    chem = class_dict[regid]['chem']
    math = class_dict[regid]['math']
    bio = class_dict[regid]['bio']
    avg = class_dict[regid]['avg']
    rank = class_dict[regid]['rank']
    print(template.format(id, name, age, phy, chem, math, bio, avg, rank))
print(line)

CLASS REPORT
------------------------------------------------------------------------------------------
REGID    | NAME            | AGE   | PHY   | CHEM  | MATH  | BIO   | AVG   | RANK
------------------------------------------------------------------------------------------
HPE001   | Vijay           | 14    | 99    | 98    | 97    | 96    |  97.5 |     2
HPE002   | Aryan           | 14    | 98    | 91    | 93    | 96    |  94.5 |     6
HPE003   | Muni            | 14    | 97    | 98    | 97    | 94    |  96.5 |     3
HPE004   | Abhi            | 14    | 96    | 93    | 97    | 95    | 95.25 |     5
HPE005   | Hemanth         | 14    | 94    | 91    | 93    | 96    |  93.5 |     7
HPE006   | Grace           | 14    | 94    | 95    | 96    | 97    |  95.5 |     4
CAP007   | Ankita          | 14    | 99    | 99    | 99    | 99    |  99.0 |     1
HPE008   | John            | 14    | 96    | 93    | 97    | 95    | 95.25 |     5
HPE009   | Chris           | 14    | 94    | 91    | 93    | 96    |  93.5 |     7
ORA006   | Grace           | 14    | 94    | 95    | 96    | 97    |  95.5 |     4
INF007   | Ankita          | 14    | 99    | 99    | 99    | 99    |  99.0 |     1
------------------------------------------------------------------------------------------

In [89]:
#write_path=r"C:\Users\292593\Desktop\master\python training\python_code_submit\Python-training\"
import os
import csv

# Define the write path
write_path = r"C:\Users\292593\Desktop\master\python training\python_code_submit\Python-training"

# Ensure the directory exists
os.makedirs(write_path, exist_ok=True)

# Define file paths
txt_file = os.path.join(write_path, "class_report.txt")
csv_file = os.path.join(write_path, "class_report.csv")

# Data dictionary
class_dict = {
    'CAP007': {'age': '14', 'avg': 99.0, 'bio': 99, 'chem': 99, 'math': 99, 'name': 'Ankita', 'phy': 99, 'rank': 1, 'regid': 'CAP007', 'total': 396},
    'HPE001': {'age': '14', 'avg': 97.5, 'bio': 96, 'chem': 98, 'math': 97, 'name': 'Vijay', 'phy': 99, 'rank': 3, 'regid': 'HPE001', 'total': 390},
    'HPE002': {'age': '14', 'avg': 94.5, 'bio': 96, 'chem': 91, 'math': 93, 'name': 'Aryan', 'phy': 98, 'rank': 9, 'regid': 'HPE002', 'total': 378},
}

# Writing to TXT file
with open(txt_file, "w") as f:
    f.write("CLASS REPORT\n")
    f.write("-" * 90 + "\n")
    f.write(f"{'REGID':8} | {'NAME':15} | {'AGE':5} | {'PHY':5} | {'CHEM':5} | {'MATH':5} | {'BIO':5} | {'AVG':5} | {'RANK':5}\n")
    f.write("-" * 90 + "\n")

    for regid, details in class_dict.items():
        f.write(f"{details['regid']:8} | {details['name']:15} | {details['age']:5} | {details['phy']:5} | {details['chem']:5} | {details['math']:5} | {details['bio']:5} | {details['avg']:5} | {details['rank']:5}\n")

    f.write("-" * 90 + "\n")

print(f"Text file saved at: {txt_file}")

# Writing to CSV file using csv module
with open(csv_file, "w", newline='') as f:
    writer = csv.writer(f)
    
    # Writing header
    writer.writerow(["regid", "name", "age", "phy", "chem", "math", "bio", "avg", "rank", "total"])
    
    # Writing rows
    for regid, details in class_dict.items():
        writer.writerow([details["regid"], details["name"], details["age"], details["phy"], details["chem"], details["math"], details["bio"], details["avg"], details["rank"], details["total"]])

print(f"CSV file saved at: {csv_file}")

Text file saved at: C:\Users\292593\Desktop\master\python training\python_code_submit\Python-training\class_report.txt
CSV file saved at: C:\Users\292593\Desktop\master\python training\python_code_submit\Python-training\class_report.csv

In [91]:
df

           name age   regid phy chem math bio    avg  rank  total
HPE001    Vijay  14  HPE001  99   98   97  96  97.50     2    390
HPE002    Aryan  14  HPE002  98   91   93  96  94.50     6    378
HPE003     Muni  14  HPE003  97   98   97  94  96.50     3    386
HPE004     Abhi  14  HPE004  96   93   97  95  95.25     5    381
HPE005  Hemanth  14  HPE005  94   91   93  96  93.50     7    374
HPE006    Grace  14  HPE006  94   95   96  97  95.50     4    382
CAP007   Ankita  14  CAP007  99   99   99  99  99.00     1    396
HPE008     John  14  HPE008  96   93   97  95  95.25     5    381
HPE009    Chris  14  HPE009  94   91   93  96  93.50     7    374
ORA006    Grace  14  ORA006  94   95   96  97  95.50     4    382
INF007   Ankita  14  INF007  99   99   99  99  99.00     1    396

In [92]:
path
df.to_csv(r"C:\Users\292593\Desktop\master\python training\python_code_submit\Python-training\report2.csv", index=False)

In [ ]:
class Student(Object):
    def __init__(self, name,regid):
        self.name=name
        self.regid=regid
        self.details={"age"=0}
        self.marks={"Physics":0,"Chemistry":0,"Maths":0,"Biology":0,}
        self.average=0
        self.rank=0

    def __repr__(self):
        return str(self.name),str(self.rigid)

    def __str__(self):
        return ','join([str(self.age),str(self.rigid),','].join())
    

    def Average(self):
        self.average=sum(self.marks.values()/len(self.marks.values()))

    def set_rank(self,rank):
        self.rank=rank

    def set_marks(self ,**marks_list):
        set.marks=marks_list

    def get_marks(self):
        return self.marks

    def get_info(self):